<!doctype html>
<!--[if IE 6]> <html class="ie6"> <![endif]-->
<!--[if IE 7]> <html class="ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ja">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<!--page info-->
<title><%= metadata.pageTitle %></title>
<meta name="description" content="<%= metadata.description %>" />
<meta name="keywords" content="<%= metadata.keywords %>" />
<!--og-->
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="" />
<!--css-->
<link rel="stylesheet" type="text/css" href="assets/css/index.css" media="all" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!--[if lt IE 10]>
<script type="text/javascript" src="assets/js/html5shiv.min.js"></script>
<script type="text/javascript" src="assets/js/respond.min.js"></script>
<script type="text/javascript" src="assets/js/flexibility.js"></script>
<![endif]-->

</head>
<body>
    <div class="wrapper">
        <% include common/_header %>

        <h1>hello, world.</h1>

        <% include common/_footer %>
    </div>
<script type="text/javascript" src="assets/js/bundle.js"></script>
</body>
</html>
